.features-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0rem 6rem;
}
.features {
  padding: 2rem 7rem;
}
.feat-logo {
  font-size: 2.5rem;
  background-color: #fdf2e9;
  border-radius: 100%;
  display: inline;
  color: #cf711f;
}
.feat-head {
  font-weight: 800;
  font-size: 1.4rem;
  margin: 1.3rem 0rem;
}
.feat-text {
  line-height: 1.6;
  color: #888;
  font-weight: 500;
}
@media (max-width: 75em) {
  .features {
    padding: 2rem 5.6rem;
  }
}
@media (max-width: 61em) {
  .features {
    padding: 2rem 4rem;
  }
  .features-content {
    padding: 0rem 4rem;
  }
}
@media(max-width:35em){
  .features-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .features-section{
    padding: 4rem;
  }
  .features {
    padding: 1rem;
  }
  .features-content {
    padding: 0rem;
  }
}
